@import "bulma";

.hero {
  padding: 30px;
}

.box {
  margin-bottom: 0;
  width: 25%;
  margin: 10px auto;
}

.box .title {
  font-size: 17px;
  font-weight: bold;
}

.box .subtitle {
  font-size: 12px;
  font-weight: bold;
}
