<h2 class="title">Add Contacts</h2>

<form class="form" ng-submit="addContact(contact)">
  <p class="control">
  <input type="text" class="input" placeholder="Image URL" ng-model="contact.imageUrl">
  </p>
  <p class="control">
  <input type="text" class="input" placeholder="Name" ng-model="contact.name">
  </p>
  <p class="control">
  <input type="text" class="input" placeholder="Email" ng-model="contact.email">
  </p>
  <p class="control">
  <input type="text" class="input" placeholder="Phone Number" ng-model="contact.phone">
  </p>
  <p class="control">
  <input type="text" class="input" placeholder="Location" ng-model="contact.location">
  </p>
  <button class="button">Add to Contact List</button>
  </p>
</form>
